    .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #000000;
    }

    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #40B4E5;
    }

    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #7CDFA8;
    }

    .st3 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FF637D;
    }

    .st4 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFC656;
    }
